# Local Terraform directories
**/.terraform/*
**/.terraform.lock.hcl

# Terraform state files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude all .tfvars files, which may contain sensitive data
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore local backup files
*.backup

# Ignore plan output files
*.tfplan

# Ignore environment-specific files
.env